<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>${TM_NEW_FILE_BASENAME}</title>
    <meta name="author" content="${TM_FULLNAME}">
    <link rel="stylesheet" href="/stylesheets/reset-min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/javascripts/jquery.js"></script>
  </head>
  <body>

  </body>
</html>
